@import url('https://fonts.googleapis.com/css?family=Roboto:300');

*{
	font-family: Roboto;
	text-shadow: 1px 1px 20px rgba(0,0,0,0.1);
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#searchDiv {
	margin-top: 18%;
	
}
#searchText {
	text-align: center;
}

#avatar_image{
	box-shadow: 1px 1px 30px rgba(0,0,0,0.1);
}
td {
	padding: 10px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading.gif) center no-repeat #fff;
}
